@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Varela Round', Arial, Times, serif;
  font-weight: 600;
  line-height: 1.6;
}

input {
  width: 100%;
}

input[type="text"] {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1em;
}

input::placeholder {
  border: none;
  font-size: 1em;
  font-style: italic;
}

button {
  padding: 0.5em;
  border: 2px solid black;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #d0d0d0;
}

button:active {
  background-color: #999;
}

ul {
  display: flex;
  list-style: none;
  gap: 8px;
}

form > * {
  margin-bottom: 20px;
}

/* Styling */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav li {
  margin-right: 20px;
}

footer {
  background-color: #f0f0f0;
  padding: 20px 0;
  text-align: center;
}

.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 10px;
}

.like {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: calc(33.33% - 20px); 
  box-sizing: border-box;
}

.pokemonImage {
  max-width: 100%;
  height: auto;
}

.like h3 {
  margin: 10px 0;
}

.likeButton {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #333;
}

.likeCount {
  font-weight: bold;
  margin-right: 5px;
}

.likeButton:hover {
  color: #d0d0d0;
}

.likeButton:active {
  color: #999999;
}

/* Comment Pop-up */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  transform: scale(0);
  transition: all 0.6s ease-in-out;
  backdrop-filter: blur(6px);
}

.card {
  position: fixed;
  display: flex;
  width: 420px;
  max-width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 1em;
  flex-direction: column;
  background: #fff;
  border: 2px solid black;
  border-radius: 8px;
  margin: 2em;
  z-index: 10;
  transition: all 0.6s ease-in-out;
}

#pokestats {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.section {
  display: none;
}

#comment-section {
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
}

#comment-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.comment {
  margin-bottom: 5px;
}

/* Reservation Pop-up */

.reservation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  transform: scale(0);
  transition: all 0.6s ease-in-out;
  backdrop-filter: blur(6px);
}

.reservation-card {
  position: fixed;
  display: flex;
  width: 420px;
  max-width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 1em;
  flex-direction: column;
  background: #fff;
  border: 2px solid black;
  border-radius: 8px;
  margin: 3em;
  z-index: 10;
  transition: all 0.6s ease-in-out;
}

.reservation-form > * {
  margin-bottom: 20px;
}
