@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Universal Selectors */
* {
  box-sizing: border-box;
  font-family: 'Varela Round', 'Times New Roman', Times, serif;
  font-weight: 600;
}

*:focus {
  outline: none !important;
}

input::placeholder {
  border: none;
  font-size: 1em;
  font-style: italic;
}

button {
  border: none;
  padding: 0.5em;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #d0d0d0;
}

button:active {
  background-color: #999999;
}

ul {
  display: flex;
  list-style: none;
  gap: 8px;
}

li {
  padding: 0.2em;
  margin-bottom: 5px;
}

/* Styling */
.fa fa-thumbs-up{
  font-size: 100px;
}

.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: left;
}

.item {

  padding: 1em;
  background-color: #f0f0f0;
}

.columns-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px;
}

