
html, body, div, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, figure, figcaption, a, img {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Varela Round', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav li {
  margin-right: 20px;
}


footer {
  background-color: #f0f0f0;
  padding: 20px 0;
  text-align: center;
}

.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 10px;
}

.like {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: calc(33.33% - 20px); 
  box-sizing: border-box;
}

.pokemonImage {
  max-width: 100%;
  height: auto;
}

.like h3 {
  margin: 10px 0;
}

.likeButton {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #333;
}

.likeCount {
  font-weight: bold;
  margin-right: 5px;
}

.likeButton:hover {
  color: #d0d0d0;
}

.likeButton:active {
  color: #999999;
}
